* {
    margin: 0;
    padding: 0;
}

body{
    background: url(mybg2.jpg)no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #fff;
}

nav p{
    font-family: arial;
    color: #bc252a;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 1px 40px 0px 25px;

}

nav ul{
    float:left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family: arial;
    color: #222;
    font-size: 18px;
    padding: 20px 14px;
    text-decoration: none;
}

#login {
    display: block;
    font-family: arial;
    color: #222;
    font-size: 18px;
    position: absolute;
    left: 1150px;
    text-decoration: none;
}

#logout {
    display: block;
    font-family: arial;
    color: #222;
    font-size: 18px;
    position: absolute;
    left: 1225px;
    text-decoration: none;
}

#game-view{
    /* Questo e' il "quadrato" in cui e' contenuto l'intero gioco*/
    position: absolute;
    right: 700px;
    top: 120px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #000;
}

#game-view-info{
    /*Questa e' la striscia superiore in cui viene descritto lo status del gioco (tocca a X, tocca a O, ha vinto X, etc)*/
    transition: .3s linear;
    animation: game-view-info-load 300ms ease-in;
    padding: 15px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
}

#game-view-squares{
    /*Il contenitore dei vari Squares*/
    transition: .5s linear;
    background-color: honeydew;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    box-sizing: border-box;

}

.game-view-square{
    /*Cio' che si trova all'interno di ogni singolo Square*/
    width: 33.33%;
    height: 33.33%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 77px;
    text-transform: uppercase;

    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.game-view-square.highlighted {color: green}    

.game-view-square:hover {background-color: #eee}

.game-view-square:nth-child(-n+6) {border-bottom: 15px solid #bc252a}     /*Il bordo inferiore di ogni Square, di colore marrone*/

.game-view-square:nth-child(3n+1),
.game-view-square:nth-child(3n+2) {border-right: 15px solid #bc252a}      /*Il bordo laterale di ogni Square, anch'esso di colore marrone*/

#LetsPlay{
    position: absolute;
    right: 780px;
    top: 675px;

    width: 300px;
    height: 100px;
    margin: 30px;
    background-color: #bc252a;
    color: #fff;
    font-size: 45px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s linear;
}

#LetsPlay:hover{
    opacity: .88;
}