* {
    margin: 0;
    padding: 0;
}

body{
    background: url(mybg2.jpg)no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }

nav{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #fff;
}

nav p{
    font-family: arial;
    color: #bc252a;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 1px 40px 0px 25px;

}

nav ul{
    float:left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family: arial;
    color: #222;
    font-size: 18px;
    padding: 20px 14px;
    text-decoration: none;
}

.profile{
  position: relative;
  top: 100px;
  align-items: center;
  width: calc(100% - 20px);
  max-width: 500px;
  height: 600px;
  background-color: #fff;
  padding: 50px 40px;
}

.profile h1{
  text-align: center;
  margin: 40px 0;
  font-size: 36px;
  color: #111;
  font-size: 36px;
}

.profile h2{
  text-align: center;
  margin: 40px 0;
  font-size: 36px;
  color: #111;
  font-size: 36px;
}

.Us-Pw{
  margin-bottom: 12px;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #8f2a2d;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.Us-Pw input{
  width: 420px;
  height: 70px;
  border: none;
  background-color: #ededed;
  border-radius: 4px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 60px 0 10px;
}

.placeholder{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  line-height: 52px; 
  top: 0;
  left: 20px;
  color: #9d9d9d;
  user-select: none;
  pointer-events: none;
}

.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder{
  left: 10px;
  top: -16px;
}

.Picture{
    margin-bottom: 12px;
    position: relative;
}

.Picture img{
    position: relative;
    width: 100px;
}

.btn{
    width: 60px;
    height: 40px;
    margin: 10px auto;
    background-color: #8f2a2d;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s linear;
  }
  
  .btn:hover{
    opacity: .85;
  }

  @media only screen and (max-width: 550px){
    nav p{
        display: none;  
    }

    nav ul{
        float:left;
        margin:  0 15px;
    }

    nav ul li a{
        display: block;
        font-family: arial;
        color: #222;
        font-size: 18px;
        padding: 20px 10px;
        text-decoration: none;
    }
    
    .profile{
      position: relative;
      top: 80px;
      align-items: center;
      width: calc(100% - 20px);
      max-width: 500px;
      height: 550px;
      background-color: #fff;
      padding: 50px 40px;
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 7px;
      font-size: 24px;
      text-align: center;
    }

    .Us-Pw input{
      width: 260px;
      height: 70px;
      border: none;
      background-color: #ededed;
      border-radius: 4px;
      color: #333;
      font-size: 18px;
      font-weight: 700;
      padding: 14px 60px 0 10px;
    }
}

@media only screen and (max-width: 550px){
    nav p{
        display: none;  
    }

    nav ul{
        float:left;
        margin:  0 15px;
    }

    nav ul li a{
        display: block;
        font-family: arial;
        color: #222;
        font-size: 18px;
        padding: 20px 10px;
        text-decoration: none;
    }
    
    .profile{
      position: relative;
      top: 80px;
      align-items: center;
      width: calc(100% - 20px);
      max-width: 500px;
      height: 565px;
      background-color: #fff;
      padding: 60px 40px;
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 7px;
      font-size: 24px;
      text-align: center;
    }

    .Us-Pw input{
      width: 260px;
      height: 70px;
      border: none;
      background-color: #ededed;
      border-radius: 4px;
      color: #333;
      font-size: 18px;
      font-weight: 700;
      padding: 14px 60px 0 10px;
    }
}